version: "3.8"

services:
  api:
    build: ./api
    ports: 
      - "3000:3000"
    depends_on:
      - mongo

  mongo: 
    image: mongo:6
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:

