name: Deploy to EC2 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs_on: ubuntu-latest

    steps:
      - name: Chackout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy on EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            cd ~/multi-container-application
            git pull origin main
            docker-compose down
            docker-compose up -d --build
          EOF
